@import "./variables.css";
@import "./ui.css";

* {
    box-sizing: border-box;
    transition: color .1s ease, background-color .1s ease;
}

a {
    text-decoration: none;
    color: var(--gray-950);
}