version: "3"

services:
  www:
    image: php:apache
    build:
      context: ./php
      dockerfile: Dockerfile
    volumes:
      - "./php/src:/var/www/html"
    ports:
      - 80:80
      - 443:443
    networks:
      - mysql-phpmyadmin
  db:
    platform: linux/x86_64
    image: mysql
    volumes:
      - db_data:/var/lib/mysql
      - ./db:/docker-entrypoint-initdb.d
    restart: always
    ports:
      - "3306:3306"
    env_file:
      - secrets.env
    networks:
      - mysql-phpmyadmin
  phpmyadmin:
    depends_on:
      - db
    image: phpmyadmin
    restart: always
    ports:
      - "8090:80"
    env_file:
      - secrets.env
    environment:
      PMA_HOST: db
    networks:
      - mysql-phpmyadmin

networks:
  mysql-phpmyadmin:

volumes:
  db_data: