.products {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product {
    display: flex;
    justify-content: space-between;
    background-color: var(--gray-100);
    padding: 16px;
    border-radius: 16px;
}

.product__wrapper {
    display: flex;
    gap: 16px;
    flex: 1;
    flex-direction: column;
    gap: 8px;
}

.product__name {
    font-size: 14px;
    font-weight: 600;
}

.product__description{
    font-size: 12px;
    color: var(--gray-400);
}

.product__buttons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.product__delete-button {
    color: var(--red-500);
}

.product__buttons input {
    padding: 3px;
}

.product__buttons a {
    font-size: 14px;
    color: var(--blue-500);
    width: fit-content;
    text-align: center;
}

.product__buttons a:hover {
    color: var(--blue-700);
}