.reports {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.report:hover:after {
    background-color: var(--blue-200);
}

.report::after {
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    margin-top: 10px;
    background-color: var(--gray-200);
}

.report__title {
    font-size: 14px;
    margin-bottom: 6px;
}

.reports__sub-title-wrapper {
    display: flex;
    justify-content: space-between;
}

.report__bottom {
    display: flex;
    justify-content: space-between;
}

.report__createdAt, .report__status {
    font-size: 12px;
    color: var(--gray-500);
}

.report__status {
    font-weight: 600;
}

.reports__sort {
    display: flex;
    gap: 10px;
    align-items: center;
}

.reports__sort {
    font-size: 14px;
}

.reports__sort-label {
    cursor: pointer;
    color: var(--gray-400);
}

.reports__sort-label:hover {
    color: var(--gray-600);
}

.reports__sort-label.active {
    color: var(--blue-400);
}
    
.filter-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}